{% extends "main/nav.html" %}
{% block command-content %}
    <style>
        #ta-header {
            display: inline;
        }

        #lab-header {
            display: inline;
            margin: 0;
        }

        #lab-header-container {
            display: grid;
            grid-template-columns: auto minmax(auto, 300px);
        }

        #lab-form {
            display: grid;
            grid-template-columns: minmax(auto, 200px) minmax(auto, 200px) 40px;
            justify-content: end;
        }

        #course-details-container {
            display: inline-grid;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            grid-template-columns: auto auto;
            width: 100%;
        }

        #course-details {
            grid-column: 1/ span 1;
            background: #d3d3d3;
            padding: 5px;
        }

        #tas {
            grid-column: 1/span 1;
        }

        #labs {
            grid-column: 2 / span 1;
        }
    </style>
    <div id="course-details-container">
        <div id="course-details">
            <h3>Course Details</h3>
            <table>
                <tbody>
                <tr>
                    <td>
                        Course ID:
                    </td>
                    <td>
                        {{ course.course_id }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Lecture Section:
                    </td>
                    <td>
                        {{ course.section }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        {{ course.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Schedule:
                    </td>
                    <td>
                        {{ course.schedule }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Instructor:
                    </td>
                    <td>
                        {{ course.instructor }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <pre>{{ message }}</pre>
        </div>
        <div>
        </div>
        <div id="tas">
            <h3 id="ta-header">TAs</h3>
            <table id="contact-info-container">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Remaining Sections</th>
                </tr>
                {% for ta in tas %}
                    <tr>
                        <td><input required type="radio" name="ta" value={{ ta.username }} form="assign-ta-form"</td>
                        <td>{{ ta.name }}</td>
                        <td>{{ ta.username }}</td>
                        <td>{{ ta.remaining }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="labs">
            <div id="lab-header-container">
                <h3 id="lab-header">Labs</h3>
                <form id="lab-form" action="/cr_lab/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="courseid" value="{{ course.course_id }}">
                    <input type="hidden" name="coursesection" value="{{ course.section }}">
                    <input type="text" required placeholder="section" name="labsection">
                    <input type="text" required placeholder="schedule" name="labschedule">
                    <input type="submit" value="+">
                </form>
            </div>
            <form id="assign-ta-form" action="/assign_ta_labs/" method="post">
                {% csrf_token %}
                <table id="contact-info-container">
                    <tr>
                        <th></th>
                        <th>Section</th>
                        <th>TA</th>
                        <th>Schedule</th>
                    </tr>
                    {% for lab in labs %}
                        <tr>
                            <td><input required type="checkbox" name="lab_sections[]" value={{ lab.section }}></td>
                            <td>{{ lab.section }}</td>
                            <td>{{ lab.ta }}</td>
                            <td>{{ lab.schedule }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="hidden" name="courseid" value="{{ course.course_id }}">
                <input type="hidden" name="coursesection" value="{{ course.section }}">
                <input type="submit" value="Assign">
            </form>
        </div>
    </div>
    <script>
        const requiredCheckboxes = document.querySelectorAll('input[type=checkbox]');
        const onChange = () => {
            const toggleRequired = [...requiredCheckboxes].filter(c => c.checked).length
                ? c => c.removeAttribute('required')
                : c => c.required = true;
            requiredCheckboxes.forEach(toggleRequired);
        };
        requiredCheckboxes.forEach(c => c.onchange = onChange);
    </script>
{% endblock command-content %}