{% extends "base.html" %}
{% block content %}
    <div id="login-page">
        <div id="login-form-container">
            <form method="post" action="/login/">
                {% csrf_token %}
                <input required type="text" name="username" autofocus placeholder=" username"/><br>
                <input required type="password" name="password" placeholder=" password"/><br>
                <input type="submit" value="Login">
                <div style="height: 25px">{{ message }}</div>
            </form>
        </div>
    </div>
{% endblock content %}
