{% extends "base.html" %}
{% block content %}
    <div class="welcome-name">Hello, {{ username }}</div>
    <form class="logout-button-form" action="/logout/" method="post">
        {% csrf_token %}
        <input class="logout-button" type="submit" value="Logout">
    </form>
    <div class="nav">
        <a href="/dashboard">Dashboard</a>
        {% for cmd in commands %}
            <div class="{% if active == cmd.name %}nav-item-selected{% endif %}">
                <a class="{% if not cmd.active %}disabled{% endif %}" href="/{{ cmd.name }}">{{ cmd.friendly_name }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="command-content">
        {% block command-content %}
        {% endblock command-content %}
    </div>
{% endblock content %}