<!DOCTYPE html>
{% extends "main/nav.html" %}
{% block command-content %}
    <div style="margin: auto; width: 25%">
        <form method="post" action="/set_password/">
            {% csrf_token %}
            <input required readonly type="text" name="username" value="{{ account.username }}"><br/>
            <input required type="password" name="old_password" placeholder="old password"><br/>
            <input required type="password" name="new_password" placeholder="new password"><br/>
            <input type="submit" value="Update" id="update-btn"/>
        </form>
        {{ message }}
    </div>
{% endblock command-content %}