<!DOCTYPE html>
{% extends "main/nav.html" %}
{% block command-content %}
    <div class="page">
        <form style="position: relative;" method="post" action="/set_password/">
            {% csrf_token %}
            <input autofocus required type="password" name="old_password" placeholder=" old password"><br/>
            <input required type="password" name="new_password" placeholder=" new password"><br/>
            <input type="submit" value="Update" id="update-btn"/>
            <div class="message">
                {{ message }}
            </div>
        </form>
    </div>
{% endblock command-content %}