{%extends "main/nav.html" %}
{% block command-content %}
    <div style="text-align: center" >
        <input id="view-course-input" type="search" name="courseid" autofocus placeholder="Filter by course id..."/>
        <table id="contact-info-container">
        </table>
    </div>
    <script>
        let el = document.getElementById('view-course-input');
        let container = document.getElementById('contact-info-container');

        function filter(e) {
            let courses = JSON.parse('{{ courses_json | escapejs }}');
            courses = courses.filter(el => el.course_id.toLowerCase()
                .includes(e.target.value.toLowerCase()));
            container.innerHTML = '';

            const trHeader = document.createElement("TR");
            const thCourseID = document.createElement("TH");
            const thCourseSection = document.createElement("TH");
            const thCourseName = document.createElement("TH");
            const thSchedule = document.createElement("TH");
            const thInstructor = document.createElement("TH");

            thCourseID.innerText = 'CourseID';
            thCourseSection.innerText = 'Section';
            thCourseName.innerText = 'Name';
            thSchedule.innerText = 'Schedule';
            thInstructor.innerText = 'Instructor';


            trHeader.appendChild(thCourseID);
            trHeader.appendChild(thCourseSection);
            trHeader.appendChild(thCourseName);
            trHeader.appendChild(thSchedule);
            trHeader.appendChild(thInstructor);

            container.appendChild(trHeader);

            for(let c of courses) {
                const tr = document.createElement("TR");

                const tdCourseID = document.createElement("TD");
                const tdCourseSection = document.createElement("TD");
                const tdCourseName = document.createElement("TD");
                const tdSchedule = document.createElement("TD");
                const tdInstructor = document.createElement("TD");

                tdCourseID.innerText = c.course_id;
                tdCourseSection.innerText = c.section;
                tdCourseName.innerText = c.name;
                tdSchedule.innerText = c.schedule;
                tdInstructor.innerText = c.instructor;

                tr.appendChild(tdCourseID);
                tr.appendChild(tdCourseSection);
                tr.appendChild(tdCourseName);
                tr.appendChild(tdSchedule);
                tr.appendChild(tdInstructor);

                container.appendChild(tr);
            }
        }

        el.oninput = filter;
        filter({target:{'value':''}});
    </script>
{% endblock command-content %}