{% extends "main/nav.html" %}
{% block command-content %}
    <div style="text-align: center">
        <input id="view-course-input" type="search" name="courseid" autofocus placeholder=" Filter by course id..."/>
        <table id="contact-info-container">
            <tr>
                {% if is_authorized %}
                    <th></th>
                    <th></th>
                {% endif %}
                <th>Course ID</th>
                <th>Section</th>
                <th>Name</th>
                <th>Schedule</th>
                <th>Instructor</th>
                <th>TA(s)</th>
            </tr>

            {% for c in courses %}
                <tr class="course-row pointer highlight" id="{{c.course_id}}"
                    onclick="goToCourseDetails('{{ c.course_id }}', '{{ c.section }}')">
                    {% if is_authorized %}
                        <td title="Assign Instructor" class="pointer assign-ins"
                            data-course-id="{{ c.course_id }}"
                            data-section="{{ c.section }}">
                            <span class="fas fa-chalkboard-teacher"></span>
                        </td>
                        <td title="Assign TAs" class="pointer assign-ta"
                            data-course-id="{{ c.course_id }}"
                            data-section="{{ c.section }}">
                            <span class="fas fa-user"></span>
                        </td>
                    {% endif %}
                    <td>{{ c.course_id }}</td>
                    <td>{{ c.section }}</td>
                    <td>{{ c.name }}</td>
                    <td>{{ c.schedule }}</td>
                    <td>{{ c.instructor }}</td>
                    <td>{{ c.tas }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        const taIcons = document.querySelectorAll('.assign-ta');
        const insIcons = document.querySelectorAll('.assign-ins');

        for (const t of taIcons)
            t.addEventListener('click', e => assignTa(e, t.dataset.courseId, t.dataset.section));

        for (const i of insIcons)
            i.addEventListener('click', e => assignInstructor(e, i.dataset.courseId, i.dataset.section));

        const assignTa = (e, courseId, courseSection) => {
            e.stopPropagation();
            window.location = `/assign_ta_course/?courseid=${courseId}&section=${courseSection}`
        };

        const assignInstructor = (e, courseId, courseSection) => {
            e.stopPropagation();
            window.location = `/assign_ins/?courseid=${courseId}&section=${courseSection}`
        };

        const filter = e => {
            const rows = document.querySelectorAll('.course-row');
            rows.forEach(el => el.style.display = el.id.toLowerCase()
                .includes(e.target.value.toLowerCase()) ? 'table-row' : 'none');
        };

        const goToCourseDetails = (courseId, courseSection) =>
            window.location = `/course_details/?courseid=${courseId}&section=${courseSection}`;

        let el = document.getElementById('view-course-input');
        el.oninput = filter;
    </script>
{% endblock command-content %}