{%extends "main/nav.html" %}
{% block command-content %}
    <div style="text-align: center" >
        <input id="view-contact-username-input" type="search" name="username" autofocus placeholder="Filter by username..."/>
        <table id="contact-info-container">
            <tr>
                {% if is_account_info %}
                    <th></th>
                {% endif %}
                <th>Name</th>
                <th>Username</th>
                {% if is_account_info %}
                    <th>Roles</th>
                {% endif %}
                <th>Phone</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
            {% for c in contact_infos %}
                <tr>
                    {% if is_account_info %}
                        <td id={{ c.username }} onclick="test(this)" class="fas fa-edit"></td>
                    {% endif %}
                    <td>{{ c.name }}</td>
                    <td>{{ c.username }}</td>
                    {% if is_account_info %}
                        <td>{{ c.roles }}</td>
                    {% endif %}
                    <td>{{ c.phoneNumber }}</td>
                    <td>{{ c.address }}</td>
                    <td>{{ c.email }}</td>
                </tr>
            {%  endfor %}
        </table>
    </div>
    <script>
        function test(e){
            console.log(e.id)
            window.location = `/edit_account?username=${e.id}`
        }
        let el = document.getElementById('view-contact-username-input');
        let container = document.getElementById('contact-info-container');

        el.oninput = function (e) {
            let contactInfos = JSON.parse('{{ contact_infos_json | escapejs }}');
            contactInfos = contactInfos.filter(el => el.name.toLowerCase()
                .includes(e.target.value.toLowerCase()));
            container.innerHTML = '';

            const trHeader = document.createElement("TR");
            const thEdit = document.createElement("TH");
            const thName = document.createElement("TH");
            const thUsername = document.createElement("TH");
            const thRoles = document.createElement("TH");
            const thPhoneNumber = document.createElement("TH");
            const thAddress = document.createElement("TH");
            const thEmail = document.createElement("TH");

            thName.innerText = 'Name';
            thUsername.innerText = 'Username';
            thRoles.innerText = 'Roles';
            thPhoneNumber.innerText = 'Phone';
            thAddress.innerText = 'Address';
            thEmail.innerText = 'Email';


            {% if is_account_info %}
                trHeader.appendChild(thEdit);
            {% endif %}
            trHeader.appendChild(thName);
            trHeader.appendChild(thUsername);
            {% if is_account_info %}
                trHeader.appendChild(thRoles);
            {% endif %}
            trHeader.appendChild(thPhoneNumber);
            trHeader.appendChild(thAddress);
            trHeader.appendChild(thEmail);

            container.appendChild(trHeader);

            for(let c of contactInfos) {
                const tr = document.createElement("TR");

                const tdEdit = document.createElement("TD");
                const tdName = document.createElement("TD");
                const tdUsername = document.createElement("TD");
                const tdRoles = document.createElement("TD");
                const tdPhoneNumber = document.createElement("TD");
                const tdAddress = document.createElement("TD");
                const tdEmail = document.createElement("TD");

                tdName.innerText = c.name;
                tdUsername.innerText = c.username;
                tdRoles.innerText = c.roles;
                tdPhoneNumber.innerText = c.phoneNumber;
                tdAddress.innerText = c.address;
                tdEmail.innerText = c.email;

                {% if is_account_info %}
                    tdEdit.innerHTML = '<span class="fas fa-edit"/>';
                    tdEdit.id = c.username;
                    tdEdit.onclick = () => test(tdEdit);
                    tr.append(tdEdit);
                {% endif %}
                tr.appendChild(tdName);
                tr.appendChild(tdUsername);
                {% if is_account_info %}
                    tr.appendChild(tdRoles);
                {% endif %}
                tr.appendChild(tdPhoneNumber);
                tr.appendChild(tdAddress);
                tr.appendChild(tdEmail);

                container.appendChild(tr);
            }
        }
    </script>
{% endblock command-content %}