html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: #EEEEEE;
}

.dashboard {
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns:33% 34% 33%;
    padding-top: 50px;
}

.dashboard-item {
    background-color: cadetblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    text-align: center;
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: black;
    padding-top: 30px;
    height: 80px;
}

.edit-td {
    /*width: 20px;*/
}

.nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: cadetblue;
    padding: 60px 0px 0px 0px;
    box-shadow: 0px 0px 15px 0px;
}

.nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: black;
}

.logout-button-form {
    position: absolute;
    top: 35px;
    right: 10px;
}

.logout-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-style: italic;
}

#contact-info-container {
    width: 100%;
    margin-top: 25px;
}

#contact-info-container tr{
    background: #d3d3d3;
}

#contact-info-container td {
    /*min-width: 100px;*/
}

#course-container {
    width: 100%;
    margin-top: 25px;
}

#course-container tr{
    background: #d3d3d3;
}

#course-container td {
    /*min-width: 100px;*/
}

.welcome-name {
    position: absolute;
    top: 10px;
    right: 10px;
}
.nav a:visited {
    color: black;
}

.command-content {
    margin-left: 200px;
    padding: 25px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #555555;
}
